$COLOR_DARK: #0e1e25;
$COLOR_ACCENT: #e5ec00;
$NAVBAR_HEIGHT: 56px;
$SIDEMENU_WIDTH: 180px;
$TAB_HEIGHT: 42px;
$COLOR_BLACK: #1e1e1e;
$COLOR_GRAY: #2d2d2d;
$COLOR_GRAY2: #252526;
$FONT_WHITE: #e8e8e8;
