$COLOR_DARK: #0e1e25;
$COLOR_ACCENT: #e5ec00;
$NAVBAR_HEIGHT: 70px;
$SIDEMENU_WIDTH: 180px;

@mixin getSideMenuWidthQuery($selector, $key) {
  #{$selector} {
    transition: #{$key} 0.5s ease;
  }

  @media (max-width: 1200px) {
    #{$selector} {
      #{$key}: 52px;
    }
  }

  @media (max-width: 500px) {
    #{$selector} {
      #{$key}: 0;
    }
  }
}
