$COLOR_DARK: #0e1e25;
$COLOR_ACCENT: #e5ec00;
$TITLEBAR_HEIGHT: 36px;
$NAVBAR_HEIGHT: 70px;
$SIDEMENU_WIDTH: 180px;
$TAB_HEIGHT: 42px;
$MEMBERS_WIDTH: 54px;
$ICON_SIZE_SMALL: 26px;
$COMMIT_CIRCLE_SIZE: 40px;
$COLOR_PAGE: #ffffff;
$COLOR_FRAME: #0e1e25;
$COLOR_SUB: #efefef;
$COLOR_RED: #d71526;
$COLOR_BLUE: #569cb3;
$FONT_BASE: #1d1c1d;
$FONT_SUB: #616061;
$FONT_REVERSE: #e8e8e8;
